@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input type="number" id="Id" name="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="City">City:</label>
        <input type="text" id="City" name="City" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Street">Street:</label>
        <input type="text" id="Street" name="Street" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ZipCode">Zip Code:</label>
        <input type="number" id="ZipCode" name="ZipCode" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>@Model.Message</p>